<template>
  <div id="app">
    <div>
      <HeaderVue/>
    </div>

    <div id="nav">
      <router-view class="router__item"></router-view>
    </div>

    <div>
      <FooterVue/>
    </div>
  </div>
</template>

<style lang="scss">
#app{
  padding: 0;
  margin: 0;
}

#nav{
  display: flex;
  justify-content: center;
}

.router__item{
  width: 100%;
}
</style>

<script>
import HeaderVue from '@/components/header.vue'
import FooterVue from '@/components/Footer.vue'

export default {
  name: 'home',
  components: {
    HeaderVue,
    FooterVue
  }
}
</script>

