body {
    margin: 0;
    background-color: #f0f0f0; }
    body .construction {
      text-transform: uppercase;
      display: flex;
      align-items: stretch;
      justify-content: center; }
  
  /** Header */
  header {
    background-color: #861ec2; }
    header h1 {
      margin-left: 10px;
      color: white; }
      header h1:hover {
        cursor: pointer; }
  
  .logo {
    display: flex;
    justify-items: left;
    max-width: 70vw;
    padding: 0px 10px; }
  
  .logo__img {
    height: 2vw; }
    .logo__img:hover {
      cursor: pointer; }
  
  /* Navigation */
  .nav__list {
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid white; }
    .nav__list:last-child {
      border-right: 1px solid white; }
  
  .nav__cnt {
    height: 17px; }
  
  .nav__item {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: unset;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    display: block;
    line-height: 25px;
    font-size: 15px; }
    .nav__item:hover {
      text-decoration: underline;
      color: white; }
    .nav__item--btn {
      background-color: black;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer; }
  
  .nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px; }
    .nav ul {
      padding: 0;
      margin: 0;
      flex: 1; }
  
  .main {
    padding-left: 10px; }
  
  .analog-clock {
    height: 300px; }
  
  /* FOOTER */
  footer {
    background-color: #38033d; }
  
  .footer__logo {
    display: flex;
    padding: 10px; }
  
  .copyright {
    color: white;
    height: 100%;
    flex: 1; }
  
  .info {
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-end; }
    .info__link {
      color: white;
      text-decoration: none; }
      .info__link-list {
        padding: 0px 10px;
        border-left: 1px solid white;
        list-style: none; }
        .info__link-list:hover {
          cursor: pointer;
          text-decoration: underline; }
        .info__link-list:last-child {
          border-right: 1px solid white; }
  