<template>
  <div class="home">
    <div class="top" v-on:click="GoToConverter">
      <div class="top__img"></div>
      <div class="top__cnt">
        <div class="top__text">
          <h1 class="">Converter</h1>
        </div>
      </div>
    </div>
    
    <h1 style="text-align: center;">Website under construction</h1>
    <div class="home__main">
      <div class="message">
      </div>

      <ClockVue class="clock"/>
    </div>
  </div>
</template>

<style lang="scss">

.home__main{
  display: flex;
}

.top{
  position: relative;

  &__cnt{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border-radius: 30px;
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition:1s;
  }

  &__img{
    background-image: url("/img/calc.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(0px);
    -webkit-filter: blur(0px);

    width: 100%;
    height: 400px;
    transition:1s;
  }

  &:hover{
    cursor: pointer;
  }
}

.top:hover {
  .top__img{
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  
  .top__text{
    opacity: 1;
  }
}

.message{
  flex: 1;
}

.clock{
  width: 300PX;
  padding-right: 20px;
}
</style>


<script>
import ClockVue from '@/components/Clock.vue'
export default {
  name: 'home',
  components: {
    ClockVue
  },
  methods:{
    GoToConverter: function(){
      window.location.replace('/converter');
    }
  }
}
</script>
