<template>
  <div>
    <h1>Server Status</h1>
		<button v-on:click='getJSON()'>Request JSON</button>
		<div>
			{{ api.sshdStatus }}
		</div>
		<div v-for="items in ssHD" :key="items">{{items.running}}</div>
		<ul>
			<li v-for="items in testList" :key="items">{{items}}</li>
		</ul>
		<button v-on:click="logJson()">Log JSON</button>
  </div>
</template>

<style lang="scss">
</style>

<script>
export default {
  data() {
    return {
			api: {},
			ssHD: [],
			testList: ["1", "2"]
		};
  },
  methods: {
		logJson(){
			console.log(this.api)
		},
		getJSON: function(){
			const url = "http://server.stannesen.com:3001/status";
			
			fetch(url)
			.then(data=>{return data.json()})
			.then(res=>{
				console.log(res)
				this.api = res;
				this.ssHD = res.sshdStatus;
				})
		}
  }
};
</script>

