<template>
    <div class="footer__logo">
        <div class="copyright">
            <p>Copyright &copy; 2018 Stannesen</p>
        </div>
        <div class="info">
            <ul>
                <li class="info__link-list">
                    <a class="info__link" href="https://me.stannesen.com/">About me</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<style lang="scss">
.footer__logo{
    background: rgb(56, 3, 61);
    display: flex;
    padding: 10px;
}

.copyright{
    color: white;
    height: 100%;
    flex: 1;
}

.info{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-end;

    &__link{
        color: white;
        text-decoration: none;

        &-list{
            padding: 0px 10px;
            border-left: 1px solid white;
            list-style: none;
            

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }

            &:last-child{
                border-right: 1px solid white;
            }
        }
    }
}
</style>


<script>
export default {
    
}
</script>
