<template>
    <div class="top-bar">
        <div class="logo">
            <h1><a class="logo__text" href="/">Stannesen</a></h1>
            <div class="nav">
                <div class="nav__cnt">
                    <ul>
                        <li class="nav__list" >
                            <a class="nav__item" href="/">Home</a>
                        </li>
                        <li class="nav__list">
                            <a class="nav__item" href="/converter">Converter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
/** Header */
.top-bar{ 
    background-color: rgb(134, 30, 194);
    h1{
        margin-left: 10px;
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
}

.logo{
    display: flex;
    justify-items: left;
    max-width: 70vw;
    padding: 0px 10px;

    &__text{
        color: white;
        text-decoration: none;
    }
}

.logo__img{
    height: 2vw;

    &:hover{
        cursor: pointer;
    }
}

/* Navigation */
.nav__list{
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid white;

    &:last-child{
        border-right: 1px solid white;
    }
}

.nav__cnt{
    height: 17px;
}

.nav__item{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: unset;
    height: 100%;

    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    display: block;
    line-height: 25px;

    font-size: 15px;

    &:hover {
        text-decoration: underline;
        color: white;
    }

    &--btn{
        background-color: black;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
}

.nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    ul{
        padding: 0; 
        margin: 0;
        flex: 1;
    }
}
</style>

<script>
export default {
    
}
</script>
