/* Footer */
.footer {
  width: 100%;
  height: 100%;
  background: #ff0260bf;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 0 0 20px;

  &__logo {
    font-size: 15px;
    margin: 5px;
    padding-bottom: 10px;
  }

  &__ul {
    text-align: left;
    padding: 0 100px;
    display: flex;
    justify-content: center;
  }

  &__link{
    color: black;
    text-decoration: none;
    font-size: 10px;
    color: white;
  }

  &__list {
    padding: 10px;
    text-align: center;
    list-style: none;
    width: 10vh;

    border-top: 1px solid white;

    &:last-child {
      border-bottom: 1px solid white;
    }
  }
}

.links {
  margin: 0px;
  width: 100%;
  color: white;

  display: flex;

  &__header {
    font-size: 15px;
    margin: 5px;
  }

  &__types {
    //margin-right: 40px;
    top: 0;
    flex: 1;
    color: white;
  }
}

@media only screen and (max-width: 850px){
  .footer {
    .footer__ul {
      padding: 0 0;
    }
  }
}

@media only screen and (max-width: 370px){
  .footer{
    .footer{

      &__list{
        padding: 3px;
      }
    }
  }
}