.body__main {
  margin: 0;
}

/* Main */
.background {
  background-image: url('../img/lowResBackground2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.layer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  top: 0;
}

.content{
  flex: 1 11 auto;
}

