/* Header */
.header {
  overflow: hidden;
  padding-left: 10px;
  color: #C3073F;

  flex: 0 1 auto;

  &__holder {
    display: flex;
    align-items: center;
  }
}

.logo {
  border: none;
  background: none;
  color: inherit;
  font-size: 42px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.menu {
  &__li {
    list-style: none;
    border-left: 1px solid white;

    &:last-child {
      border-right: 1px solid white;
    }
  }
}

.button{
  color: white;
}


/* Mobile Menu */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu{
	//display: none;
	transition:1s;
	opacity: 1;
	z-index: 1;
	height: fit-content;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;

	&--btn{
		display: none;
		border-style: none;
    //height: 100%;
    left: 5px;

    background: none;
    color: white;
    font-size: 60px;
  }
  
  &--icon{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
	
	&--img{
			display: block;
			height: 10vw;
			width: 10vw;

			z-index: 10;

			&:hover{
				cursor: pointer;
			}
  }

  &--outside{
    max-height: 100%;
    top: 75px;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
  }
  
  &__text{

    &--end{
      position: absolute;
      right: 12px;
      right: 20px;
      font-size: 15px;
      font-weight: 700;
      margin: 0;
    }
  }

  &__button{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    padding: 15px 0;
    text-align: left;
    justify-content: left;

    .header &--left{
      color: white;
      text-align: left;
      justify-content: left;
      height: 32px;
    }
  }

	&__ul{
		padding: 0;
    margin: 0;
    z-index: 2;
    //position: absolute;
    width: 100%;
    background-color: #940831; /* Black w/opacity/see-through */
    //transform: translate(0px, 75px);
	}

	&__li{
		list-style: none;
		color: white;
		width: 100%;
		
    border-bottom: solid white 1px;
    
    &--under{
      list-style: none;
      border-top: solid white 1px;
    }
    
    &--folder{
      display: flex;
    }
	}
}

@media only screen and (max-width: 850px){
  .background{
    header{
      padding-left: 0;
  
      .menu{
        display: none;
      }

      .mobile-menu{
        &--btn{
          display: block;
        }
      }

      .header{

        &__cnt{
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
    }
  } 
}
