.youtube {
  flex: 1;

  &__info {
    background: #a6cdea;
  }

  &__player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    &--iframe{
      position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.thumbnails {
  width: 100%;
  overflow: hidden;
  margin: 0;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;

    box-shadow: 5px 10px 18px #888888;
    transition: 0.5s;
  }

  &__holder{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.grid {
  display: flex;
  justify-content: center;

  &__item {
    background: #000000a1;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    color: white;

    padding: 10px 10px;
    display: flex;
    flex-direction: column;

    &--channels{
      height: 100%;
      width: 100%;
      padding: 0;
      background: #6f2232c7;
    }
  }

  &__ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(10em, auto);
    padding: 0;
    width: 90%;
  }

  &__li {
    background: hotpink;
    list-style: none;
    padding: 10px 10px;
    text-align: center;

    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.info {
  width: 96.5%;
  margin-bottom: 5px;

  &__holder{
    display: flex;
    justify-content: center;

    &--colum{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__cnt{
    padding: 10px 10px;
    flex: 1;
  }

  &__header{
    background: #950740;
    padding: 10px 10px;
    color: white;
    margin-bottom: 5px;
  }

  &__top {
    display: flex;
  }

  &__box{
    background: #6f2232c7;
    color: white;
    padding: 10px 10px;
  }

  &__link{
    color: white;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  }

  &__video-title{
    flex: 10;
  }

  &__video-text{
    flex: 1;
  }

  &__ol {
    &--header{
      background: #a6cdea;
      padding: 10px 10px;
    }
    &--holder {
      display: flex;
      justify-content: center;
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
      grid-gap: 10px;
      grid-auto-rows: minmax(10em, auto);
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  &__li {
    &--grid {
      background: #a6cdea;
      list-style: none;
      padding: 10px 10px;
      margin: 0px 5px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.description{

  &__info{
    margin: 0;
    max-width: 160vh;
    overflow: hidden;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    &--show{
      height: 100%;
    }

    &--hidden{
      height: 220px;
      overflow: hidden;
    }
  }

  &__header{
    margin-bottom: 0;
  }

  &__button{
    border: none;
    background: none;
    color: #caccff;
    font-weight: bold;
    font-size: 20px; 
    padding-top: 10px;

    &:hover{
      cursor: pointer;
    }
  }
}

.error{
	background: #a6cdea;
	padding: 10px 10px;
	color: red;
}

@media only screen and (max-width: 1450px){
  main{
    .info{

      &__top {
        display: block;
      }
    }
  }
}


@media only screen and (max-width: 1024px){
  main{

    .info{

      &__header{
        font-size: 25px;
      }
    }

    .grid{

      &__ul{
        //grid-template-columns: repeat(4, 10em);
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  main{

    .description{

      &__info{
        font-size: 10px;

        &--hidden{
          height: 100px;
        }
      }
    }

    .info{

      &__top{
        display: block;
      }

      &__box{
        font-size: 10px;
      }

      &__title{
        font-size: 20px;
      }

      &__video-title{
        font-size: 10px;
      }

      &__video-text{
        font-size: 7px;
      }

      &__ol{

        &--grid{
          grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
        }
      }

      &__header{
        font-size: 20px;
      }
    }

    .grid{

      &__ul{
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
        grid-auto-rows: minmax(5em, auto);
        grid-gap: 0;
      }

      &__item{

        &--channels{
          font-size: 10px;
        }
      }
    }
  }
}
