body {
  padding: 0;
  margin: 0;
}

.backgroundIMG {
  background: hotpink;
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.logo {
  position: relative;
  flex: 400;
  height: 100% !important;

  &__cnt {
		transition:1s;
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    justify-content: center;

    position: fixed;
  }

  &__text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    font-size: 50px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    z-index: 1;
    width: fit-content;
    padding: 0px 100px;
    text-align: center;
  }

  &__backgroundIMG {
    background-image: url("/img/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(8px);
		-webkit-filter: blur(8px);

		transform: scale(1.1); 

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
}

.options {
  &__ul {
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 0;
  }

  &__li {
    display: inline-block;
    *display: inline; /*IE7*/
    *zoom: 1; /*IE7*/
    margin: 0px 70px;
    padding: 0px 10px;

    border-left: 1px solid white;
    border-right: 1px solid white;

    button {
      display: block;
      text-align: center;
      //padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      background: none;
      border: none;
      color: white;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

/* Mobile Menu */
.mobile-menu{
	display: none;
	transition:1s;
	opacity: 0;
	z-index: 1;
	height: 100%;
	width: 200px;
	top: 73px;
	position: fixed;
	background: darkblue;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(76, 41, 160, 0.8); /* Black w/opacity/see-through */


	&--btn{
		display: none;
		border-style: none;
		//height: 100%;
		width: fit-content;
		position: absolute;
		top: 30px;
		transform: translate(0, -50%);
		left: 0px;

		background: none;
	}
	
	&--img{
			display: block;
			height: 10vw;
			width: 10vw;

			z-index: 10;

			&:hover{
				cursor: pointer;
			}
	}

	&__ul{
		padding: 0;
		margin: 0;
	}

	&__li{
		list-style: none;
		color: white;
		width: 100%;
		padding: 15px 0;
		border-bottom: solid black 1px;

		button{
			background: none;
			border: none;
			color: white;
			font-size: 20px;

			margin-left: 10px;

			a{
				color: white;
				text-decoration: none;
			}
		}
	}
}


.main{
	.default-box{
		opacity: 1;
	}

	.contact-box{
		opacity: 0;
	}

	.info-box{
		opacity: 0;
	}
}

.text-box{
	transition:1s;
	display: flex;
  position: absolute;
  top: 60%;
	//transform: translate(0, -50%);
	min-height: 80px;
  width: 100%;
  justify-content: center;

  position: fixed;

  &__cnt {
    width: 40%;
    background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.8); /* Black w/opacity/see-through */
		text-align: center;

    color: white;
  }

  &__txt {
		color: white;
	}
	
	&__link{
		font-size: 20px;
		text-decoration: none;
	}
}

.info{
	display: flex;
	justify-content: center;

	&__text{
		display: flex;
		width: 60%;
	}
}

.text-list{

	&__item{
      display: flex;
		}
}

.text{
	&--bold{
		font-weight: bold;
	}

	&--space{
		padding-left: 8px;
		color: white;
	}
}

.under-line {
  position: fixed;
  bottom: 0px;
  flex: 1;
  z-index: 2;
  width: 100%;
  background: #870b95;
}


@media only screen and (max-height: 550px) {
  .main{
		.text-box{
			top: 215px;
		}

		.logo{
			&__cnt{
				top: 110px;
			}

			&__text{
				font-size: 30px;
			}
		}
	}
}

@media only screen and (max-width: 1000px){
	.main{
		.options__li{
			margin: 0px 30px;
		}
	}
}

@media only screen and (max-width: 750px){
	.main{
		.options{
			display: none;
		}

		.logo{

			&__cnt{
				top: 35px;
			}

			&__text{
				border-radius: 0;
				font-size: 15px;
				padding: 0 0;
				width: 100%;
			}

			&__backgroundIMG{
				background-position: right;
			}
		}

		.mobile-menu{
			display: block;
			opacity: 0;

			&--btn{
				display: flex;
			}
		}

		.text-box{
			top: 100px;

			&__cnt{
				width: 90%;
				border-radius: 20px;
				padding-bottom: 20px;
			}
		}
	}
}
